#container{
    border: 2px solid;
}

/*
combinators
    descendant: space
    child combinator(>)
    general sibling combinator(~)
    adjacent sibling combinator(+)
    note : change those symbols below in place of + you can see how it works.

*/

#container + p{
    background-color: rebeccapurple;
}