div{
    background-color: palevioletred;
    height: 150px;
    width: 150px;
    text-align: center;
}

#span1{
    background-color: aqua;
    height: 150px;
    width: 150px;
    display: inline;
    text-align: center;
}

#span2{
    background-color: aqua;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
}

p{
    background-color: brown;
}